.gitlab-tree-plugin
{
    overflow: auto;
}

.gitlab-tree-plugin-wrapper
{
    display: flex;
}

.gitlab-tree-plugin-hidden
{
    display: none;
}

.gitlab-tree-plugin-left
{
    flex: 0 0 250px;
    border: 1px solid #e5e5e5;
    margin-right: 15px;
    margin-bottom: 50px;
    overflow: auto;
}

.gitlab-tree-plugin-left .folder
{
    padding-left: 20px;
    margin-bottom: 10px;
}

.gitlab-tree-plugin-left .folder .holder
{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.gitlab-tree-plugin-left .folder .holder:before
{
    font: normal normal normal 14px/1 FontAwesome;
    content: "\f115";
    padding-right: 7px;
}

.gitlab-tree-plugin-left > .folder
{
    padding-left: 0px;
}

.gitlab-tree-plugin-left > .folder > .folder
{
    padding-left: 15px;
}

.gitlab-tree-plugin-left > .folder > .holder
{
    background-color: #fafafa;
    border-bottom: 1px solid #e5e5e5;
    margin: 0;
    text-align: left;
    padding: 10px 16px;
    word-wrap: break-word;
    border-radius: 3px 3px 0 0;
    font-weight: bold;

    margin-bottom: 15px;
}

.gitlab-tree-plugin-left > .folder > .holder:before
{
    content: "\f07c";
}


.gitlab-tree-plugin-left .folder.gitlab-tree-plugin-folder-collapsed > .holder:before
{
    content: "\f114";
}

.gitlab-tree-plugin-left .folder.gitlab-tree-plugin-folder-collapsed > .folder
{
    display: none;
}

.gitlab-tree-plugin-left .folder.gitlab-tree-plugin-folder-collapsed > a
{
    display: none;
}



.gitlab-tree-plugin-left .file
{
    padding-left: 20px;
}

.gitlab-tree-plugin-left a
{
    display: block;
}

.gitlab-tree-plugin-right
{
    flex: 0 0 1;
}

.gitlab-tree-plugin-file-renamed, .gitlab-tree-plugin-file-renamed:hover
{
    color: #d90;
}

.gitlab-tree-plugin-file-deleted, .gitlab-tree-plugin-file-deleted:hover
{
    color: #d12f19;
}

.gitlab-tree-plugin-file-added, .gitlab-tree-plugin-file-added:hover
{
    color: #4a2;
}

.gitlab-tree-plugin-file-active
{
    color: #000;
    font-weight: bold;
    pointer-events: none;
}

.gitlab-tree-plugin-file-commented-icon
{
    margin-right: 7px;
}
