.gitlab-tree-plugin-wrapper
{
	display: flex;
	align-items: flex-start;
}

.gitlab-tree-plugin--is-hidden
{
	display: none !important;
}

.gitlab-tree-plugin__left
{
	/*
		Left side consists of:
		* files
		* menu
	*/

	flex: 0 0 250px;
	border: 1px solid #e5e5e5;
	border-radius: 4px;
	margin-bottom: 16px;
	margin-right: 15px;
	overflow: auto;
	
	transition: flex 0.15s ease-in;


	/* Files */

	.gitlab-tree-plugin__files
	{
		overflow-x: auto;
		transition: opacity 0.15s ease-in;


		/* Folder */

		.gitlab-tree-plugin__folder
		{
			/*
				Folder can have:
				* holder - where it's name is displayed
				* another folders
				* files

				Folder can be:
				* root
				* collapsed
				* expanded
			*/
			padding-left: 20px;
			margin-bottom: 10px;


			.gitlab-tree-plugin__folder__holder
			{				

				&:before
				{
					font: normal normal normal 14px/1 FontAwesome;
					content: "\f115";
					padding-right: 7px;
				}
			}
		

			&--is-root
			{
				padding-left: 0px;
			

				> .gitlab-tree-plugin__folder__holder
				{
					white-space: nowrap;
					text-overflow: ellipsis;
					overflow: hidden;

					background-color: #fafafa;
					border-bottom: 1px solid #e5e5e5;
					margin: 0;
					text-align: left;
					padding: 10px 16px;
					font-weight: bold;

					margin-bottom: 5px;
				}

				> .gitlab-tree-plugin__folder__content 
				{
					overflow: auto;
					padding-bottom: 5px;

					.gitlab-tree-plugin__file
					{
						white-space: nowrap;
					}

					.gitlab-tree-plugin__folder__holder
					{
						white-space: nowrap;
					}

					> .gitlab-tree-plugin__folder
					{
						padding-left: 15px;
					}
				}

				> .gitlab-tree-plugin__folder__holder:before
				{
					content: "\f07c";
				}
			}


			&--is-collapsed
			{
				> .gitlab-tree-plugin__folder__holder:before
				{
					content: "\f114";
				}

				> .gitlab-tree-plugin__folder__content
				{
					display: none;
				}
			}
		}


		/* File */

		.gitlab-tree-plugin__file
		{
			/*
				File can be:
				* added
				* removed (some GitLab versions do not support this)
				* updated
				* deleted
				* commented

				File can have: 
				* icon (currently commented)
				* name
			*/

			padding-left: 20px;
			display: block;

			
			&--is-renamed, &--is-renamed:hover
			{
				color: #d90;
			}

			&--is-deleted, &--is-deleted:hover
			{
				color: #d12f19;
			}

			&--is-added, &--is-added:hover
			{
				color: #4a2;
			}

			&--is-active
			{
				color: #000;
				font-weight: bold;
				pointer-events: none;
			}

			&__commented-icon
			{
				margin-right: 7px;
			}
		}
	}


	/* Menu */

	.gitlab-tree-plugin__menu
	{
		/*
			Menu can have:
			* items
		*/

		border-top: 1px solid #e5e5e5;
		background: #fafafa;
		
		display: flex;
		justify-content: flex-end;

		&__item
		{
			display: flex;
			justify-content: center;
			align-items: center;

			font-size: 18px;
			width: 32px;
			height: 32px;

			color: rgba( 0, 0, 0, 0.5)

			&:hover
			{
				background: rgba(0, 0, 0, 0.1);
				color: rgba( 0, 0, 0, 0.7)
				cursor: pointer;
			}


			&#gitlab-tree-plugin__toggle-hide
			{
				border-left: 1px solid #e5e5e5;
			}

			&#gitlab-tree-plugin__toggle-on
			{
				&.gitlab-tree-plugin--is-off
				{
					background: rgba(220, 53, 69, 0.75);
				}
			}
		}
	}


	&--is-collapsed
	{
		flex-basis: 40px !important;
		overflow: hidden;


		.gitlab-tree-plugin__files
		{
			overflow: hidden;
			opacity: 0.25;
			pointer-events: none;
		}

		.gitlab-tree-plugin__folder--is-root
		{
			> .gitlab-tree-plugin__folder__content
			{
				overflow: hidden !important;
			}
		}

		#gitlab-tree-plugin__toggle-hide
		{
			width: 100%;
			border: 0;
		}
	}
}


.gitlab-tree-plugin__right
{
	flex: 1;
}


.gitlab-tree-tabs-wrapper
{
	top: 40px;
	z-index: 200;
	position: sticky;
}

.diff-files-changed
{
	position: inherit !important;
}



/*
	Settings' modal window styling.
*/

.gitlab-tree-plugin__settings
{
	position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0,0,0,0.6);
    z-index: 999;

	display: flex
	align-items: center;
	justify-content: center;

	&__fg
	{
		width: 450px;
		height: 350px;
		background: white;
		border-radius: 7px;
		padding: 20px;
	}

	.gitlab-tree-plugin__setting
	{
		margin-bottom: 10px;
		padding: 15px 15px 10px 15px;
		background: #f9f9f9;

		display: flex;

		
		label
		{
			flex: 1;
			font-size: 13px;
			font-weight: bold;
		}

		.gitlab-tree-plugin__e__toggle
		{
			flex-basis: 70px;
		}


		select
		{
			border: 1px solid #dfdfdf;
		}
	}

	.gitlab-tree-plugin__settings__footer
	{
		margin-top: 80px;

		&__save
		{
			width: 100px;
		}
	}
}




// Toggle switch

.gitlab-tree-plugin__e__toggle
{
	input
	{
		max-height: 0;
		max-width: 0;
		opacity: 0;	

		& + label
		{
			display: inline-block;
			position: relative;
			box-shadow: inset 0 0 0px 1px #d5d5d5;
			text-indent: -5000px;
			height: 20px;
			width: 40px;
			border-radius: 20px;
			background: #fff;
			cursor: pointer;

			&:before
			{
				content: "";
				position: absolute;
				display: block;
				height: 20px;
				width: 20px;
				top: 0;
				left: 0;
				border-radius: 20px;
				background: rgba(19,191,17,0);
				-moz-transition: .25s ease-in-out;
				-webkit-transition: .25s ease-in-out;
				transition: .25s ease-in-out;
			}

			&:after
			{
				content: "";
				position: absolute;
				display: block;
				height: 20px;
				width: 20px;
				top: 0;
				left: 0px;
				border-radius: 20px;
				background: white;
				box-shadow: inset 0 0 0 1px rgba(0,0,0,.2), 0 2px 4px rgba(0,0,0,.2);
				-moz-transition: .25s ease-in-out;
				-webkit-transition: .25s ease-in-out;
				transition: .25s ease-in-out;
			}
		}

		&:checked + label
		{
			&:before
			{
				width: 30px;
				background: rgba(19,191,17,1);
			}

			&:after
			{
				left: 20px;
				box-shadow: inset 0 0 0 1px rgba(19,191,17,1), 0 2px 4px rgba(0,0,0,.2);
			}
		}
	}	
}



.gitlab-tree-plugin__e__micro-input
{
	border: 1px solid #dfdfdf;
	width: 75px;
	border-radius: 2px;
	padding: 2px;
}