.gitlab-tree-plugin__wrapper
{
	display: flex;
	align-items: stretch;
}

.gitlab-tree-plugin--is-hidden
{
	display: none !important;
}


/*
	Override: Only on Gitlab 11+
*/
.diff-tree-list .gitlab-tree-plugin__left
{
	top: 100px;
	max-height: calc(100vh - 100px);
}

.gitlab-tree-plugin__left
{
	/*
		Left side consists of:
		* files
		* menu
	*/

	flex: 0 0 304px;

	// Testing this
	position: sticky;
	top: 76px;
	max-height: calc(100vh - 76px);
	// Test ends here

	display: flex;
	flex-direction: column;

	margin-right: 16px;
	
	transition: flex 0.15s ease-in;


	.gitlab-tree-plugin__header
	{
		display: flex;
		flex: 0 0 34px;
		margin-bottom: 8px;
		position: relative;

		&__filter-section
		{
			flex: 1;
		}

		&__input
		{
			border-radius: 2px;
			padding: 6px 10px;
			padding-left: 30px;

			font-size: 14px;
			
			display: block;
			width: 100%;
			height: 34px;
			line-height: 20px;
			color: #2e2e2e;
			background-color: #fff;
			background-clip: padding-box;
			border: 1px solid #dfdfdf;
			transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, padding-left 0.15s ease-in-out;

			&--is-open
			{
				padding-left: 6px;
			}

			&:focus
			{
				color: #2e2e2e;
				background-color: #fff;
				border-color: #80bdff;
				outline: 0;
				box-shadow: 0 0 0 0.2rem rgba(0,123,255,0.25);
			}
		}


		&__search-icon
		{
			position: absolute;
			top: 10px;
			left: 10px;
			fill: #919191;
		}


		&__clear-btn
		{
			position: absolute;
			right: 85px;
    		top: 8px;
			background: none;
			border: 0;
			outline 0;
		}
	}


	.gitlab-tree-plugin__list-tree-scroll
	{
		flex: 1;
		padding-top: 8px;
		padding-bottom: 8px;
		border-top: 1px solid #e5e5e5;
		border-bottom: 1px solid #e5e5e5;
		overflow-y: auto;
		overflow-x: auto;
		
		transition: opacity 0.15s ease-in;


		.gitlab-tree-plugin__holder
		{
			height: 32px;
			padding: 4px 0;
			border-radius: 3px;

			display: flex;
			align-items: center;

			cursor: pointer;

			&__icon
			{
				flex: 0 0 auto;
				width: 16px;
				height: 16px;
				margin-left: 8px;
				margin-right: 6px;
			}

			
			&:hover
			{
				background: #f2f2f2;
			}
		}


		/* Folder */

		.gitlab-tree-plugin__folder
		{
			/*
				Folder can have:
				* holder - where it's name is displayed
				* another folders
				* files

				Folder can be:
				* collapsed
				* expanded
			*/

			&--is-collapsed
			{
				> .gitlab-tree-plugin__folder__content
				{
					display: none;
				}
			}
		}


		/* File */

		.gitlab-tree-plugin__file
		{
			/*
				File can be:
				* added
				* removed (some GitLab versions do not support this)
				* updated
				* deleted
				* commented

				File can have: 
				* icon (currently commented)
				* name
			*/

			.gitlab-tree-plugin__file__name
			{
				white-space: nowrap; 
				overflow: hidden;
				flex: 1;
			}

			.gitlab-tree-plugin__stats
			{
				flex: 0 0 auto;

				font-size: 12px;
				margin: 0 8px;
			}

			&__commented-icon
			{
				margin-right: 7px;
			}
		}
	}

	.gitlab-tree-plugin__stats__additions
	{
		color: #1aaa55;
	}

	.gitlab-tree-plugin__stats__deletions
	{
		color: #db3b21;
	}


	.gitlab-tree-plugin__footer
	{
		padding: 10px 0;
		text-align: center;
		font-size: 12px;
	}

	/* Menu */

	.gitlab-tree-plugin__menu
	{
		/*
			Menu can have:
			* items
		*/

		border-top: 1px solid #e5e5e5;
		background: #fafafa;
		
		display: flex;
		justify-content: flex-end;

		&__item
		{
			display: flex;
			justify-content: center;
			align-items: center;

			font-size: 18px;
			width: 32px;
			height: 32px;

			color: rgba( 0, 0, 0, 0.5)

			&:hover
			{
				background: rgba(0, 0, 0, 0.1);
				color: rgba( 0, 0, 0, 0.7)
				cursor: pointer;
			}


			&#gitlab-tree-plugin__toggle-hide
			{
				border-left: 1px solid #e5e5e5;
			}

			&#gitlab-tree-plugin__toggle-on
			{
				&.gitlab-tree-plugin--is-off
				{
					background: rgba(220, 53, 69, 0.75);
				}
			}
		}
	}


	&--is-collapsed
	{
		flex-basis: 40px !important;
		overflow: hidden;


		.gitlab-tree-plugin__files
		{
			overflow: hidden;
			opacity: 0.25;
			pointer-events: none;
		}

		.gitlab-tree-plugin__folder--is-root
		{
			> .gitlab-tree-plugin__folder__content
			{
				overflow: hidden !important;
			}
		}

		#gitlab-tree-plugin__toggle-hide
		{
			width: 100%;
			border: 0;
		}
	}
}


.gitlab-tree-plugin__right
{
	flex: 1;
}


.gitlab-tree-tabs-wrapper
{
	top: 40px;
	z-index: 200;
	position: sticky;
}

.diff-files-changed
{
	position: inherit !important;
}


/*
	Elements
*/

.gitlab-tree-plugin__icon
{
	height: 16px;
	width: 16px
}

.gitlab-tree-plugin__btn-group
{
	display: inline-flex;
	vertical-align: middle;
	margin-left: 8px;

	.gitlab-tree-plugin__btn
	{
		flex: 0 1 auto;

		&:first-child
		{
			border-top-left-radius: 3px;
			border-bottom-left-radius: 3px;
		}

		&:last-child
		{
			border-top-right-radius: 3px;
			border-bottom-right-radius: 3px;
		}

		+ .gitlab-tree-plugin__btn
		{
			border-left: none;
		}
	}
}

.gitlab-tree-plugin__btn
{
	font-size: 14px;
	font-weight: 400;
	padding: 6px 10px;
	background-color: #fff;
	border-color: #e5e5e5;

	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	user-select: none;
	border: 1px solid #e5e5e5;
	line-height: 20px;
	outline: none !important;
	
	&--is-rounded
	{
		border-radius: 3px;
	}

	&--is-active
	{
		background-color: #eaeaea;
		border-color: #e3e3e3;
		color: #2e2e2e;
		pointer-events: none;
	}
}


/*
	Settings' modal window styling.
*/

.gitlab-tree-plugin__settings
{
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	background: rgba(0,0,0,0.6);
	z-index: 999;

	display: flex
	align-items: center;
	justify-content: center;

	&__fg
	{
		width: 450px;
		height: 350px;
		background: white;
		border-radius: 7px;
		padding: 20px;
	}

	.gitlab-tree-plugin__setting
	{
		margin-bottom: 10px;
		padding: 15px 15px 10px 15px;
		background: #f9f9f9;

		display: flex;

		
		label
		{
			flex: 1;
			font-size: 13px;
			font-weight: bold;
		}

		.gitlab-tree-plugin__e__toggle
		{
			flex-basis: 70px;
		}


		select
		{
			border: 1px solid #dfdfdf;
		}
	}

	.gitlab-tree-plugin__settings__footer
	{
		margin-top: 80px;

		&__save
		{
			width: 100px;
		}
	}
}




// Toggle switch

.gitlab-tree-plugin__e__toggle
{
	input
	{
		max-height: 0;
		max-width: 0;
		opacity: 0;	

		& + label
		{
			display: inline-block;
			position: relative;
			box-shadow: inset 0 0 0px 1px #d5d5d5;
			text-indent: -5000px;
			height: 20px;
			width: 40px;
			border-radius: 20px;
			background: #fff;
			cursor: pointer;

			&:before
			{
				content: "";
				position: absolute;
				display: block;
				height: 20px;
				width: 20px;
				top: 0;
				left: 0;
				border-radius: 20px;
				background: rgba(19,191,17,0);
				-moz-transition: .25s ease-in-out;
				-webkit-transition: .25s ease-in-out;
				transition: .25s ease-in-out;
			}

			&:after
			{
				content: "";
				position: absolute;
				display: block;
				height: 20px;
				width: 20px;
				top: 0;
				left: 0px;
				border-radius: 20px;
				background: white;
				box-shadow: inset 0 0 0 1px rgba(0,0,0,.2), 0 2px 4px rgba(0,0,0,.2);
				-moz-transition: .25s ease-in-out;
				-webkit-transition: .25s ease-in-out;
				transition: .25s ease-in-out;
			}
		}

		&:checked + label
		{
			&:before
			{
				width: 30px;
				background: rgba(19,191,17,1);
			}

			&:after
			{
				left: 20px;
				box-shadow: inset 0 0 0 1px rgba(19,191,17,1), 0 2px 4px rgba(0,0,0,.2);
			}
		}
	}	
}



.gitlab-tree-plugin__e__micro-input
{
	border: 1px solid #dfdfdf;
	width: 75px;
	border-radius: 2px;
	padding: 2px;
}